---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <!-- Social Proof -->
    <!-- Comparison -->
    <!-- Benefits -->
    <!-- How it works -->
    <!-- Pricing -->
    <!-- FAQ -->
    <!-- CTA -->
  </main>
  <!-- Footer -->
</Layout>
