<section>
  <div class="container">
    <div class="flex flex-col justify-center items-center gap-10">
      <h2 class="text-center">Simplifying Custom Website Design</h2>
      <div class="flex flex-col md:flex-row gap-10">
        <div class="card text-center">
          <div class="card-inner">
            <h3>Wordpress</h3>
            <p>Subheading</p>
            <ul class="list-(--custom-marker-negative) text-left mx-auto">
              <li>Pain Point 1</li>
              <li>Pain Point 2</li>
              <li>Pain Point 3</li>
            </ul>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-inner">
            <h3>Webflow</h3>
            <p>Subheading</p>
            <ul class="list-(--custom-marker-positive) text-left mx-auto">
              <li>Solution 1</li>
              <li>Solution 2</li>
              <li>Solution 3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  li {
    padding-inline-start: 1ch;
  }
</style>
