<section>
  <div class="container">
    <div class="flex flex-col gap-3 justify-center items-center text-center max-w-2xl mx-auto">
      <h2>Medium length heading goes here</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae delectus
        maxime nemo eius quam praesentium unde ea eum natus provident
        perferendis minima aliquam accusantium culpa nesciunt laborum,
        consequuntur quisquam neque.
      </p>
      <div class="button-group">
        <a href="#" class="button">Let's talk</a>
      </div>
    </div>
  </div>
</section>
