---
import { Accordion } from "@/components/Accordion";
const accordionData = [
  {
    title: "Is it accessible?",
    description: "Yes. It adheres to the WAI-ARIA design pattern.",
  },
  {
    title: "Is it styled?",
    description:
      "Yes. It comes with default styles that matches the other components' aesthetic.",
  },
  {
    title: "Is it animated?",
    description:
      "Yes. It's animated by default, but you can disable it if you prefer.",
  },
];
---

<section>
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <div class="max-w-lg">
        <h2>FAQs</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          ipsa mollitia ab nemo ratione vitae culpa, magnam ex similique
          excepturi, consectetur ullam illo iure dolor recusandae autem
          voluptatum eum fugiat.
        </p>
        <div class="button-group">
          <a href="/#contact" class="button">Let's talk</a>
        </div>
      </div>
      <div>
        <Accordion data={accordionData} client:visible />
      </div>
    </div>
  </div>
</section>
