---
// Hero section component
---

<section class="flex min-h-[80dvh] items-center justify-center">
  <div class="container">
    <div
      class="mx-auto flex flex-col items-center justify-center gap-2 text-center"
    >
      <h1 class="max-w-xl text-balance">Custom Websites Built to Convert</h1>
      <p class="max-w-xl text-xl text-pretty">
        I build fast, user-friendly websites for startups, agencies, and SMBs.
        Let’s talk about your next project.
      </p>
      <div class="button-group">
        <a href="/#contact" class="button">Get in touch</a>
      </div>
    </div>
  </div>
</section>
