<section class="flex justify-center items-center min-h-dvh py-0">
  <div class="container">
    <div
      class="flex flex-col justify-center items-center gap-2 max-w-2xl mx-auto text-center"
    >
      <h1>Custom Webflow Sites Built to Convert</h1>
      <p class="text-xl text-pretty">
        I create high-performance Webflow websites for startups, agencies, and
        SMBs—fast. Get a responsive, thoughtfully designed site with clean,
        scalable code. Need more than Webflow’s built-in features? I extend
        functionality with custom code to match your exact needs.
      </p>
      <div class="button-group">
        <a href="/#contact" class="button">Get in touch</a>
      </div>
    </div>
  </div>
</section>
