---
import { Image } from "astro:assets";
import logo from "../assets/astro-dark.svg";
import lightLogo from "../assets/astro-light.svg";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <div class="container relative z-10">
    <div class="flex justify-between items-center">
      <div>
        <a href="/">
          <!-- Display different logo depending on light or dark mode -->
          <Image
            src={logo}
            alt="logo"
            width={150}
            loading="eager"
            class="block dark:hidden"
          />
          <Image
            src={lightLogo}
            alt="logo"
            width={150}
            loading="eager"
            class="hidden dark:block"
          />
          <span class="sr-only">Astro Logo</span>
        </a>
      </div>
      <nav>
        <ul class="gap-2 hidden md:flex font-medium">
          <li>
            <a
              href="/#about"
              class="py-2.5 px-5 text-(--secondary-foreground)  hover:bg-(--secondary) rounded-full text-lg"
              >About</a
            >
          </li>
          <li>
            <a
              href="/#work"
              class="py-2.5 px-4 text-(--secondary-foreground)  hover:bg-(--secondary) rounded-full text-lg"
              >Work</a
            >
          </li>
          <li>
            <a
              href="/#contact"
              class="py-2.5 px-4 text-(--secondary-foreground)  hover:bg-(--secondary) rounded-full text-lg"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
      <div class="flex justify-end items-center gap-4">
        <a href="/#contact" class="button is-small hidden sm:inline-flex"
          >Let's Talk</a
        >
        <ThemeIcon />
      </div>
      <!-- Dropdown menu that shows on tablet view -->
    </div>
  </div>
  <div class="backdrop"></div>
  <div class="backdrop-edge"></div>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-block: 1rem;
    z-index: 2;
    outline: 1px solid var(--border);
  }

  @media (max-width: 48rem) {
    header {
      position: relative;
    }
  }

  .backdrop {
    position: absolute;
    inset: 0;
    height: 200%;
    z-index: 0;
    background: linear-gradient(to bottom, var(--background), transparent 50%);
    backdrop-filter: blur(16px);
    mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
    pointer-events: none;
  }

  .backdrop-edge {
    --thickness: 3px;
    position: absolute;
    inset: 0;
    height: 100%;
    /*
      Shift down by 100% of its own height, so that the
      edge stacks underneath the main <header>:
    */
    transform: translateY(100%);
    background: --alpha(var(--background) / 20%);
    backdrop-filter: blur(8px) brightness(120%);
    pointer-events: none;
    /*
      We mask out everything aside from the first few
      pixels, specified by the --thickness variable:
    */
    mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--thickness),
      transparent var(--thickness)
    );
  }
</style>
