<section>
  <div class="container">
    <div class="text-left">
      <h2>Pricing</h2>
    </div>
    <div class="pt-12">
      <div class="grid grid-cols-1 gap-10 lg:grid-cols-3">
        <div class="card">
          <div class="card-inner">
            <div class="grid gap-2">
              <h3>Consulting</h3>
              <p class="text-muted-foreground text-sm">
                Agencies and startups hire me to be embedded on their team for
                direct support on strategy, scoping, custom code, and training.
              </p>
              <span
                class="text-muted-foreground mt-2 text-3xl font-medium md:text-4xl"
                >$30/hr</span
              >
            </div>
            <div class="button-group justify-items-stretch">
              <a href="#" class="button is-small grow">Get Started</a>
            </div>
            <ul
              role="list"
              class="mt-6 space-y-3 text-left text-base text-gray-700 md:mt-6 dark:text-gray-50"
            >
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                  class="h-6 w-6 flex-none text-green-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd"></path>
                </svg>
                <div>Strategy and project planning</div>
              </li>
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                  class="h-6 w-6 flex-none text-green-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd"></path>
                </svg>
                <div>
                  Hands-on involvement in crafting custom code solutions
                </div>
              </li>
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                  class="h-6 w-6 flex-none text-green-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd"></path>
                </svg>
                <div>
                  Ongoing training and support for teams looking to improve
                  skills
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <div class="grid gap-2">
              <h3>Design</h3>
              <p class="text-muted-foreground text-sm">
                From strategy and brand, to web and product design, I help teams
                bring businesses to life with modern, memorable and minimal
                creative work.
              </p>
              <span
                class="text-muted-foreground mt-2 text-3xl font-medium md:text-4xl"
                >$40/hr</span
              >
            </div>
            <div class="button-group justify-items-stretch">
              <a href="#" class="button is-small grow">Get Started</a>
            </div>
            <ul
              role="list"
              class="mt-6 space-y-3 text-left text-base text-gray-700 md:mt-6 dark:text-gray-50"
            >
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                  class="h-6 w-6 flex-none text-green-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd"></path>
                </svg>
                <div>Strategy and brand guidance</div>
              </li>
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                  class="h-6 w-6 flex-none text-green-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd"></path>
                </svg>
                <div>Web and product design</div>
              </li>
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                  class="h-6 w-6 flex-none text-green-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd"></path>
                </svg>
                <div>
                  Modern, memorable, and minimal creative outcomes that bring
                  businesses to life
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <div class="grid gap-2">
              <h3>Development</h3>
              <p class="text-muted-foreground text-sm">
                With over 5 years of experience in Webflow, I can lead your next
                project with a design-first approach.
              </p>
              <span
                class="text-muted-foreground mt-2 text-3xl font-medium md:text-4xl"
                >$50/hr</span
              >
            </div>
            <div class="button-group justify-items-stretch">
              <a href="#" class="button is-small grow">Get Started</a>
            </div>
            <ul
              role="list"
              class="mt-6 space-y-3 text-left text-base text-gray-700 md:mt-6 dark:text-gray-50"
            >
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                  class="h-6 w-6 flex-none text-green-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd"></path>
                </svg>
                <div>Over 5 years of Webflow experience</div>
              </li>
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                  class="h-6 w-6 flex-none text-green-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd"></path>
                </svg>
                <div>Design-first approach for scalability</div>
              </li>
              <li class="flex gap-x-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                  class="h-6 w-6 flex-none text-green-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd"></path>
                </svg>
                <div>Alignment with brand values</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
