<section>
  <div class="container">
    <div class="text-center">
      <h2>Pricing</h2>
      <p>Subheading</p>
    </div>
    <div class="pt-12">
      <div class="grid grid-cols-3 gap-10 text-center">
        <div class="card">
          <div class="card-inner">
            <h3>Design</h3>
            <p>
              Consequat et dolore exercitation qui irure cillum ex labore aliqua
              anim et. Culpa aute nostrud cillum veniam minim ipsum aute deserunt.
              Nisi consectetur eu elit in ad fugiat laboris ea sit aute.
              Adipisicing aliquip duis tempor est anim nulla. Labore velit in
              minim deserunt commodo laborum ea labore. Ad adipisicing id commodo
              cupidatat ex ad cillum aliquip nostrud fugiat magna dolor laboris
              pariatur ex.
            </p>
            <div class="button-group justify-center mt-auto">
              <a href="#" class="button">Get Started</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <h3>Development</h3>
            <p>
              Consequat et dolore exercitation qui irure cillum ex labore aliqua
              anim et. Culpa aute nostrud cillum veniam minim ipsum aute deserunt.
              Nisi consectetur eu elit in ad fugiat laboris ea sit aute.
              Adipisicing aliquip duis tempor est anim nulla. Labore velit in
              minim deserunt commodo laborum ea labore. Ad adipisicing id commodo
              cupidatat ex ad cillum aliquip nostrud fugiat magna dolor laboris
              pariatur ex.
            </p>
            <div class="button-group justify-center mt-auto">
              <a href="#" class="button">Get Started</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <h3>Design & Development</h3>
            <p>
              Consequat et dolore exercitation qui irure cillum ex labore aliqua
              anim et. Culpa aute nostrud cillum veniam minim ipsum aute deserunt.
              Nisi consectetur eu elit in ad fugiat laboris ea sit aute.
              Adipisicing aliquip duis tempor est anim nulla. Labore velit in
              minim deserunt commodo laborum ea labore. Ad adipisicing id commodo
              cupidatat ex ad cillum aliquip nostrud fugiat magna dolor laboris
              pariatur ex.
            </p>
            <div class="button-group justify-center mt-auto">
              <a href="#" class="button">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
