---
import { Carousel } from "@/components/Carousel";
const reviews = [
  {
    review:
      "Nico did a good job. I will hire him again. He was very professional and delivered the project on time. The quality of work was exceptional and exceeded my expectations.",
    author: "Steve W.",
  },
  {
    review:
      "Amazing work, highly recommended! Nico's attention to detail and dedication to the project were outstanding. He communicated effectively throughout the process and ensured everything was perfect.",
    author: "Jane D.",
  },
  {
    review:
      "Exceeded my expectations, fantastic service. Nico went above and beyond to deliver a top-notch product. His expertise and commitment to excellence were evident in every aspect of the project.",
    author: "Mark T.",
  },
];
---

<style>
  .carousel-wrapper {
    mask-image: linear-gradient(
      to right,
      transparent,
      var(--background) 5%,
      var(--background) 95%,
      transparent
    );
  }
</style>

<section class="py-12">
  <div class="container-md">
    <div class="carousel-wrapper">
      <Carousel data={reviews} client:visible />
    </div>
  </div>
</section>
